<tr>
  <td><%= booking.user.full_name %></td>
  <td><%= booking.subpitch.name %></td>
  <td><%= booking.start_time %></td>
  <td><%= booking.end_time %></td>
  <td><%= booking.message %></td>
  <td><%= booking.status %></td>
  <td><%= booking.total_price %></td>
</tr>
