<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div>
  <%= search_form_for @search, url: admin_bookings_path, local: true, class: "input-group left wid60" do |f| %>
    <%= f.text_field :subpitch_name_or_user_full_name_cont, class: "form-control wid30 left", id: "input1-group2" %>
    <% status = [{id: 0, name: ".verified_paid"}, {id: 1, name: ".verifield_unpaid"}, {id: 2, name: ".notverifield"}] %>
    <% @status = params[:q][:status_eq] if params[:q] %>
    <%= select_tag "q[status_eq]", options_for_select(status.collect{|u| [t(u[:name]), u[:id]]}, selected: @status), class: "btn btn-info dropdown-toggle left wid15", onchange: "this.form.submit()" %>
    <div class='input-group date w150 left' id='datetimepicker1'>
        <%= f.text_field :start_time_gteq, class: "form-control" %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <div class='input-group date w150 left' id='datetimepicker2'>
        <%= f.text_field :end_time_lteq, class: "form-control" %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <span class="input-group-prepend left ">
      <%= f.button "", class: "btn btn-primary glyphicon glyphicon-search" %>
    </span>
  <% end %>
</div>
<hr class="mt-0">
<table class = "table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th class = "text-center"><%= t ".user" %></th>
      <th class = "text-center"><%= t ".subpitch" %></th>
      <th class = "text-center"><%= t ".start_time" %></th>
      <th class = "text-center"><%= t ".end_time" %></th>
      <th class = "text-center"><%= t ".message" %></th>
      <th class = "text-center"><%= t ".status" %></th>
      <th class = "text-center"><%= t ".total_price" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "booking", collection: @bookings %>
  </tbody>
</table>
<hr class="mt-0">
<%= will_paginate @bookings %>
