<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div>
  <%= search_form_for @search, url: "#", class: "input-group left wid60", method: "get" do |f| %>
    <%= f.text_field :name_or_description_cont, class: "form-control", id: "input1-group2", style: "width: 30%; float: left", placeholder: "Name or description" %>
    <div class='input-group date w150 left' id='datetimepicker1'>
      <%= f.text_field :bookings_start_time_gteq, class: "form-control" %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  <div class='input-group date w150 left' id='datetimepicker2'>
    <%= f.text_field :bookings_end_time_lteq, class: "form-control" %>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
    </div>
    <span class="input-group-prepend left ">
      <%= f.button "", class: "btn btn-primary glyphicon glyphicon-search" %>
    </span>
  <% end %>
  <% if @revenue_details.present? %>
    <p class="right">
      <span class = " glyphicon glyphicon-download"></span>
      <%= link_to t("generate.csv"), revenue_admin_pitch_path(@pitch, format: "csv") %> |
      <%= link_to t("generate.excel"), revenue_admin_pitch_path(@pitch, format: "xls") %>
    </p>
  <% end %>
</div>
<hr class="mt-0">
<table class = "table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th class = "text-center"><%= t ".pitch_name" %></th>
      <th class = "text-center"><%= sort_link @search, :subpitch_type, t(".subpitch_type") %></th>
      <th class = "text-center"><%= sort_link @search, :name, t(".name") %></th>
      <th class = "text-center"><%= t ".description" %></th>
      <th class = "text-center"><%= t ".total" %></th>
      <th class = "text-center"><%= t ".currency" %></th>
      <th class = "text-center"><%= t ".picture" %></th>
      <th class = "text-center"><%= t ".size" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "revenue_detail", collection: @revenue_details %>
    <% if @revenue_details.present? %>
      <tr>
        <td colspan="14"><h4 class="right cl-blue"><%= t "generate.total",add: @sum %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr class="mt-0">
<%= will_paginate @revenue_details %>
