<tr>
  <td><%= rating.id %></td>
  <td><%= rating.user.full_name %></td>
  <td><%= rating.star %></td>
  <td><%= rating.content %></td>
  <% if current_user.admin? %>
  <td><%= link_to t("general.delete"), admin_pitch_subpitch_rating_path(@subpitch.pitch.id, @subpitch, rating), method: :delete, data: {confirm: t("general.confirm")} %></td>
  <% end %>
</tr>
