<tr>
  <td><%= booking_index.user_full_name %></td>
  <td><%= booking_index.subpitch_name %></td>
  <td><%= booking_index.start_time.strftime("%m-%d-%Y %H:%m") %></td>
  <td><%= booking_index.end_time.strftime("%m-%d-%Y %H:%m") %></td>
  <td><%= booking_index.message %></td>
  <% status = [t(".verifiled_paid"), t(".verifiled_unpay"), t(".unverifile")] %>
  <td><%= status[Booking.statuses[booking_index.status]] %></td>
  <td><%= booking_index.total_price %></td>
  <td>
    <% if check_rating(booking_index).present? %>
      <%= link_to t(".rating"), get_path(booking_index) %>
    <% end %>
  </td>
</td>
