<tr>
  <td><%= booking.subpitch.pitch.name %></td>
  <td><%= booking.subpitch.name %></td>
  <td><%= booking.subpitch.pitch.address %></td>
  <td><%= booking.start_time.strftime "%H:%M %d/%m/%y" %></td>
  <td><%= booking.end_time.strftime "%H:%M %d/%m/%y" %></td>
  <td>
    <% if booking.status == Settings.canceled %>
      <%= t ".canceled" %>
    <% elsif booking.start_time > Time.now %>
      <% if booking.status == Settings.paid_status_booking %>
        <%= link_to t(".cancel"), bookings_update_path(id: booking),
          method: :patch, data: {confirm: t(".confirm")} %>
      <% else %>
        <%= link_to t(".payment"), new_booking_pay_path(booking) %>
      <% end %>
    <% elsif booking.status == Settings.paid_status_booking %>
      <%= link_to t(".review"), pitch_subpitch_path(booking.subpitch.pitch,
        booking.subpitch) %>
    <% else %>
      <%= t ".canceled" %>
    <% end %>
  </td>
</tr>
