<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div>
  <%= form_with url: "#", local: true, class: "input-group wid60 left", method: "get" do |f| %>
    <%= f.text_field :search, class: "form-control wid30 left", id: "input1-group2", value: params[:search] %>
    <%= select_tag :receiver_id, options_for_select(@users.collect{|u| [t(u[:full_name]), u[:id]]}, selected: params[:receiver_id]), onchange: "this.form.submit()", class: "btn btn-info dropdown-toggle left" %>
    <span class="input-group-prepend left ">
      <%= f.button "", class: "btn btn-primary glyphicon glyphicon-search" %>
    </span>
  <% end %>
  <%= link_to t(".new"), new_admin_recharge_path, style: "float:right" %>
</div>
<hr class="mt-0">
<table class = "table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th class = "text-center"><%= t ".sender" %></th>
      <th class = "text-center"><%= t ".receiver" %></th>
      <th class = "text-center"><%= t ".content" %></th>
      <th class = "text-center"><%= t ".money" %></th>
      <th class = "text-center"><%= t ".option" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @recharges %>
  </tbody>
</table>
<hr class="mt-0">
<%= will_paginate @recharges %>
