<tr>
  <td><%= transfer.id %></td>
  <td><%= transfer.sender.full_name %></td>
  <td><%= transfer.receiver.full_name %></td>
  <td><%= transfer.content %></td>
  <td><%= transfer.money %></td>
  <td>
    <% unless check_transfer? transfer %>
      <%= link_to t(".del"), admin_transfer_path(transfer), method: :delete, "data-confirm": t("msg.confirm"), class: "glyphicon glyphicon-trash" %>
    <% end %>
  </td>
</tr>
