<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div>
  <h3><%= t ".info_sender" %></h3>
  <div class="dropdown-divider"></div>
  <div class="box2">
    <p><%= t ".user_sender", add: current_user.full_name %></p>
    <p><%= t ".my_wallet", add: current_user.wallet %></p>
  </div>
  <h3><%= t ".transaction_info" %></h3>
  <div class="dropdown-divider"></div>
  <%= render "form" %>
</div>
